	[submodule "packages/nomad-FAIR"]
	path = packages/nomad-FAIR
	url = https://gitlab.mpcdf.mpg.de/nomad-lab/nomad-FAIR.git
[submodule "packages/nomad-aitoolkit"]
	path = packages/nomad-aitoolkit
	url = https://github.com/FAIRmat-NFDI/nomad-aitoolkit.git
